# Use /etc/systemd/system/rostwist.service

[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
[Service]
Type=simple
User=[TODO USERNAME HERE]
ExecStart=/usr/sbin/ros/rostwist
[Install]
WantedBy=multi-user.target
